<div class="container">
  <div>
  	<form action="/catalog/search" method="get">
    <div class="search-field">
    	<div class="search-term">
    		<div class="form-inline div-inline">
    			<div id="custom-search-input">
            <div class="input-group" style="width: 50.5em">
                <input type="text" class="  search-query form-control" placeholder="Search" />
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button">
                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        	</div>
    		</div>
    		<div class="form-inline div-inline">
    			<label>From</label>
    			<input type="date" class="form-control filters" name="">
    			<label>To</label>
    			<input type="date" class="form-control filters" name="">
    		</div>
    	</div>

    	<div class="search-filters">

    		<div class="form-inline div-inline">
    			<label>Time</label>
    			<input type="time" class="form-control filters" name="" step="1800">
    			<label>to</label>
    			<input type="time" class="form-control filters" name="" step="1800">
    		</div>

    		<div class="form-inline div-inline filters" >
    			<label>Type</label>
	    		<select class="form-control">
	    			<option>All</option>
	    			<option>Equipment</option>
	    			<option>Rooms</option>
	    		</select>
    		</div>

    		<div class="form-inline div-inline filters">
    			<label>Filter</label>
    			<select class="form-control">
    				<option>Available</option>
    				<option>Unavailable</option>
    			</select>
    		</div>

    		<div class="form-inline div-inline filters">
    			<label>Rows</label>
    			<select class="form-control">
    				<option>10</option>
    				<option>30</option>
    				<option>50</option>
    			</select>
    		</div>

    	</div>

	  </div>
	  </form>
	  <hr class="red" style="background-color: black; height: 2px">
	  
	  <div class="search-result">
	    Results
	  </div>

  </div>
</div>