.navbar{
  border-radius:0pt;
  margin-right: 140pt;
  width: 100%;

}
.navbar-inner{
  background: transparent;
}


body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url(".. public/pictures/home1.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.well{
  margin-top: 200pt;
}

#login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden;
  background-color:rgba(255,255,255,.8);
}
#login-dp .bottom{
  background-color:rgba(255,255,255,.8);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}